option_settings:
  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /static: static

  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: quici.settings
    PYTHONPATH: /var/app/current:$PYTHONPATH
    SECRET_KEY: "django-insecure-7zhugr7hk7f%#o8@wf)*yb9$i$y*1z@cw%qxy9d!)$0%qs#8ap"
    DEBUG: "False"
    ALLOWED_HOSTS: ".elasticbeanstalk.com"
